<h1>Todo List</h1>
<div class="add-row">
  <div>
    <form [formGroup]="taskForm">
      <mat-form-field
        class="addInput"
        appearance="outline"
        style="margin-bottom: -1.25em"
      >
        <mat-label>{{isEdit ? "修改事項" : "新增事項"}}</mat-label>
        <input matInput type="text" formControlName="task"/>
        <button *ngIf="!isEdit" mat-icon-button matSuffix type="button" (click)="onAddClick()">
          <mat-icon fontIcon="add"></mat-icon>
        </button>
        <button *ngIf="isEdit" mat-icon-button matSuffix type="button" (click)="onUpdateClick()">
          <mat-icon fontIcon="done"></mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>
<div class="item-row">
  <div style="margin-bottom: 10px" *ngFor="let todo of todos">
    <mat-card [class]="todo.completed ? 'card-success' : '' ">
      <mat-card-header>
        <mat-card-title>{{ todo.task }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button *ngIf="!todo.completed" mat-icon-button matListItemMeta (click)="onCompleteClick(todo.id)">
          <mat-icon fontIcon="done"></mat-icon>
        </button>
        <button *ngIf="!todo.completed" mat-icon-button matListItemMeta (click) = "onEditClick(todo.id,todo.task)">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
        <button mat-icon-button matListItemMeta (click)="onDeleteClick(todo.id)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
