<mat-toolbar class="toolbar" color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>my-application</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" opened="true" mode="side">
    <mat-nav-list class="nav-list">
      <div class="nav-btn-group">
        <a class="nav-btn" mat-list-item routerLink="/angular-app/todo-list">待辦事項</a>
      </div>
      <div class="logout-area">
        <button
          class="logout"
          color="primary"
          mat-raised-button
          (click)="logout()"
        >
          登出
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
