.loginCard {
    width: 30%;
    display: flex;
    align-items: center;
    margin: auto auto;
    margin-top: 100px;
    padding: 20px;
}

.mat-mdc-card-title {
    margin-bottom: 10px;
}

.mat-mdc-form-field {
    width: 300px;
}

.error {
    padding-bottom: 25px;
    width: 300px;
    color: red;
    background-color: white;
}

.buttonGroup {
    display: flex;
    align-items: center;
}

.buttonGroup button {
    width: 100%;
}