<mat-toolbar class="toolbar" color="primary">
  <span>my-application</span>
</mat-toolbar>
<mat-card class="loginCard">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" novalidate >
      <p>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>帳號</mat-label>
          <input formControlName="username" matInput (blur)="updateErrorMessage()"/>
          @if (username.invalid) {
            <mat-error>{{loginFormError.username}}</mat-error>
          }
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>密碼</mat-label>
          <input formControlName="password" password="password" matInput type="password" (blur)="updateErrorMessage()"/>
          @if (password.invalid) {
            <mat-error>{{loginFormError.password}}</mat-error>
          }
        </mat-form-field>
      </p>
      <div class="buttonGroup">
        <button type="button" mat-button (click)="login()">登入</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
