<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-stepper>
        <mat-step label="確認訂單資訊">
          <div>
            <ul>
              <li *ngFor="let product of checkoutProducts" class="mt-2">
                <mat-card class="example-card">
                  <mat-card-title-group>
                    <img mat-card-sm-image class="card-img" [src]="'/api/product/image/' + product.id" />
                    <mat-card-title>{{ product.name }}</mat-card-title>
                    <mat-card-subtitle class="mb-0">
                      單價:{{ product.price }} <br />
                      數量:{{ product.quantity }}<br />
                      總價:{{ product.price * product.quantity }}<br />
                    </mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card>
              </li>
            </ul>
            <div class="total-row">
              <div><b>總金額:</b></div>
              <div>2000元</div>
            </div>
            <div class="total-row">
              <div><button mat-flat-button color="primary">確認結帳</button></div>
            </div>
          </div>
        </mat-step>
        <mat-step label="個人資料填寫"><p>個人資料填寫</p></mat-step>
        <mat-step label="選擇付款方式"><p>選擇付款方式</p></mat-step>
        <mat-step label="完成"><p>完成</p></mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
